<div class="loading d-none style-2"><div class="loading-wheel"></div></div>
<div class="p-2">
  <img src="../assets/logo-on-white.4ee9c788.svg" alt="logo" />
</div>
<hr class="m-0" />
<div
  id="formMenu"
  class="menuButton p-3 d-flex align-items-center justify-content-between"
>
  <span class="navbar-brand mb-0 h1"
    ><img src="../assets/form.png" alt="menu" class="menuIcon" /> Form</span
  >
  <span><img src="../assets/right.png" alt="menu" class="rightIcon" /></span>
</div>

<div
  id="applicantsMenu"
  class="menuButton p-3 d-flex align-items-center justify-content-between"
>
  <span class="navbar-brand mb-0 h1"
    ><img src="../assets/users.png" alt="menu" class="menuIcon" />
    Applicants</span
  >
  <span><img src="../assets/right.png" alt="menu" class="rightIcon" /></span>
</div>

<div
  id="loginAutofill"
  class="menuButton p-3 d-flex align-items-center justify-content-between"
>
  <span class="navbar-brand mb-0 h1"
    ><img src="../assets/login.png" alt="menu" class="menuIcon" /> Login
    Autofill</span
  >
  <span><img src="../assets/right.png" alt="menu" class="rightIcon" /></span>
</div>

<div
  id="logout"
  class="menuButton p-3 d-flex align-items-center justify-content-between"
>
  <span class="navbar-brand mb-0 h1"
    ><img src="../assets/logout.png" alt="menu" class="logoutIcon" /> Logout
  </span>
</div>
