<div class="loading d-none style-2"><div class="loading-wheel"></div></div>
<div class="px-4 py-3 w-100">
  <span class="back-login"
    ><img class="previousIcon" alt="back" src="../assets/previous.png"
  /></span>
</div>
<div class="form px-5 pb-5">
  <h1 class="text-center pb-3">Form Autofill</h1>
  <form id="signupForm">
    <h5>User Info</h5>
    <div class="form-outline mb-4">
      <input
        required
        placeholder="Name"
        type="text"
        name="name"
        class="form-control"
      />
    </div>

    <div class="form-outline mb-4">
      <input
        required
        placeholder="Email"
        type="email"
        name="email"
        class="form-control"
      />
    </div>

    <div class="form-outline mb-4">
      <input
        required
        placeholder="Password"
        type="password"
        name="password"
        class="form-control"
      />
    </div>

    <div class="form-outline mb-4">
      <input
        required
        placeholder="Contact Number"
        type="number"
        name="phone_num"
        class="form-control"
      />
    </div>
    <hr />

    <h5>Lender Credentials</h5>

    <div class="form-outline mb-4">
      <input
        required
        placeholder="Lender's Name"
        type="text"
        name="lender_name"
        class="form-control"
      />
    </div>

    <div class="form-outline mb-4">
      <input
        required
        placeholder="Email"
        type="email"
        name="lender_email"
        class="form-control"
      />
    </div>

    <div class="form-outline mb-4">
      <input
        required
        placeholder="Password"
        type="password"
        name="hashed_password"
        class="form-control"
      />
    </div>

    <hr />

    <h5>Merchant Info</h5>

    <div class="form-outline mb-4">
      <input
        required
        placeholder="Merchant's Name"
        type="text"
        name="merchant_name"
        class="form-control"
      />
    </div>

    <div class="form-outline mb-4">
      <input
        required
        placeholder="Location"
        type="text"
        name="location"
        class="form-control"
      />
    </div>

    <div class="form-outline mb-4">
      <input
        required
        placeholder="Contact Number"
        type="number"
        name="merchant_phone_num"
        class="form-control"
      />
    </div>

    <!-- Submit button -->
    <button type="submit" id="signup" class="btn btn-success btn-block mb-4">
      SignUp
    </button>

    <div id="signuperr" class="text-center"></div>
  </form>
</div>
